{% extends "admin.html" %}

{% block body %}
  <div class="container mt-5">
    {% if b_cnt|int() > 0 %}
        <table>
          <tr>
            <th>S.No</th>
           <th>Bill No</th>
          </tr>
          {% for key in range(1, len(bill_ids)+1 ) %}
            <tr>
              <td> {{ key }} </td>
              <td> </td><a href="{{url_for('display_current_bill', bill_id = bill_ids[key], username = username)}}" target = "_blank">
                 {{ bill_ids[key] }} </a> </td>
            </tr>
          {% endfor %}
        </table>
    {% else %}
        <h2>No Bills until now</h2>
    {% endif %}
  </div>
{% endblock %}