{% extends "dashboard_customer.html" %} {% block title %} Product Purchase {%
endblock %} {% block body %}
<div class="col-sm-7 login col-md-5 mt-3">
  <div class="card">
    <div class="card-content pl-3">
      <p>Item name: {{ product["item_name"] }}</p>
      <p>Seller name: {{ product["seller_name"] }}</p>
      <p>Category: {{ product["category"] }}</p>
      <p>Cost: {{ product["cost"] }}</p>
      <form
        action="{{url_for('add_to_cart', product = product, username = username)}}"
        method="post"
      >
        <div class="form-group row justify-content-between">
          <div class="col-6">
            <p>Enter Quantity:</p>
          </div>
          <div class="col-6">
            {% if error == True %}
              <input type="number" name="quantity" class="form-control error_display" placeholder="Quantity"/>
              <p class="text-danger">Enter a valid input</p>
            {% else %}
              <input type="number" name="quantity" class="form-control " placeholder="Quantity"/>
            {% endif %}
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-7">
            <button type="submit" class="btn btn-primary btn-block">
              Add to cart
            </button>
          </div>
          <div class="col-4">
            <a
              href="{{ url_for('recent_products_customer', username = username, is_message = 'False', message = 'None' )}}"
              class="btn btn-warning btn-block"
            >
              Cancel.
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}
