{% extends "loginportal.html" %}

{% block title %}
  Customer Login Portal
{% endblock %}

{% block form %}
  <div class="col-sm-7 col-md-5 mt-5 login">
    <h3 class="text-center">Sign In</h3><br><hr>
    <form action="{{ url_for('customerlogin') }}" method = "post">
      <div class="form-group">
        <p>Password</p>
        {% if not access_granted %}
          <p>
          <input type="password" class="error_display" name = "password" placeholder = "Enter Password" required>
          </p>
          <p class="text-danger">Invalid Username or Password</p>
        {% else %}
          <input type="password" name = "password" placeholder = "Enter Password" required>
        {% endif %}
      </div>
      <button class = "btn btn-primary btn-block mt-2">Log in</button>
    </form>
    <p>Dont have an account. <a href="{{ url_for('customernew') }}">Register</a> instead.</p>
  </div>
{% endblock %}
