{% extends "loginportal.html" %}

{% block title %}
  Customer Register Portal
{% endblock %}

{% block form %}
  <div class="col-sm-7 col-md-5 login ">
    <h3 class="text-center">Register</h3><br><hr>
    <form action="{{ url_for('customerregister') }}" method = "post">
      <div class="form-group">
        <p>Username</p>
        {% if not is_new_user %}
          <p>
            <input type="text" class="error_display form-control" name = "username" placeholder = "Enter Username" required>
          </p>
          <p class="text-danger">Username aldready exists.</p>
        {% else %}
          <p>
            <input type="text" name = "username" class="form-control" placeholder = "Enter Username" required>
          </p>
        {% endif %}
      </div>
      <div class="form-group">
        {% if not password_match  %}
          <p>Password</p>
          <p>
          <input type="password" class="error_display form-control" name = "password" placeholder = "Enter Password" required>
          </p>
          <div class="form-group">
            <p>Confirm Password</p>
            <p>
              <input type="password" class="error_display form-control" name="confirm_password" placeholder="Confirm password">
            </p>
          </div>
          <p class="text-danger">Passwords dont match.</p>
        {% else %}
          <p>Password</p>
          <p>
          <input type="password" name = "password" class="form-control" placeholder = "Enter Password" required>
          </p>
          <div class="form-group">
            <p>Confirm Password</p>
            <p>
              <input type="password" name="confirm_password" class="form-control" placeholder="Confirm password">
            </p>
          </div>
        {% endif %}
      </div>
      <button class = "btn btn-primary btn-block mt-2">Register</button>
    </form>
    <p>Aldready have an account. <a href="{{ url_for('customer') }}">Login</a> instead.</p>
  </div>
{% endblock %}
