{% extends "dashboard_customer.html" %}

{% block title %}
  Dashboard Customer
{% endblock %}

{% block body %}
  {% if is_message == "True" %}
    {% if message == "buy" %}
      <span class="alert alert-success myalert">
        <p>Purchase successfull.</p>
        <p><small>Check your bills at <a href="{{ url_for('mybills', username = username) }}">My Bills</a></small></p>
      </span>
    {% else %}
      <div class="alert alert-success myalert">
        <p>Added to cart successfully.</p>
          <p><small>Check your cart at <a href="#">My Cart</a></p>
      </div>
    {% endif %}
  {% endif %}
  <div class="container mt-5">
    <div class="card mt-3">
      <div class="card-header">
        <p class="ml-3">Recommended Products For You:</p>
      </div>
      <div class="card-content">
        {% if total != 0 %}
          <div class="row justify-content-around">
          {% if total > 4 %}
            {% for key in range(total, total-4, -1) %}
                <div class = "col-sm-5 mt-4 col-xs-8">
                    <div class="card-header pl-3">
                      <p>Title: {{ products[key]["item_name"] }}</p>
                    </div>
                    <p class="pl-3" >Seller: {{ products[key]["seller_name"] }}</p>
                    <p class="pl-3" >Category: {{ products[key]["category"] }}</p>
                    <p class="pl-3" >Cost: {{ products[key]["cost"] }}</p>
                    <div class="row justify-content-around">
                      <div class="col-5">
                        <a type="button" class="btn btn-success" href="{{ url_for('purchase', product = products[key], username = username) }}">
                          Buy Now</a>
                      </div>
                      <div class="col-5">
                        <a type="button" class="btn btn-warning" href="{{ url_for('cart_render_portal', product = products[key], username = username) }}">
                          Add to cart</a>
                      </div>
                    </div>
                </div>
                <br><br>
            {% endfor %}
          {% else %}
            {% for key in range(total, 0, -1) %}
                <div class = "col-sm-5 mt-4 col-xs-8">
                    <div class="card-header pl-3">
                      <p>Title: {{ products[key]["item_name"] }}</p>
                    </div>
                    <p class="pl-3" >Seller: {{ products[key]["seller_name"] }}</p>
                    <p class="pl-3" >Category: {{ products[key]["category"] }}</p>
                    <p class="pl-3" >Cost: {{ products[key]["cost"] }}</p>
                    <div class="row justify-content-around">
                      <div class="col-5">
                        <a type="button" class="btn btn-success" href="{{ url_for('purchase_tentative', item=products[key]) }}">
                          Buy Now</a>
                      </div>
                      <div class="col-5">
                        <a type="button" class="btn btn-warning" href="{{ url_for('cart_render_portal', product = products[key], username = username) }}">
                          Add to cart</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            </div>
          {% endif %}
      </div>
    </div>
  </div>
  <br><br>
{% endblock %}
