.login{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border: 1px solid black;
padding:10px;
}

input{
  position:relative;
  width:100%;
}

.error_display{
  border: 1px solid red;
}

.myalert{
  animation-name:myalert;
  animation-iteration-count:1;
  animation-duration:6s;
  text-align: center;
  animation-fill-mode: forwards;
}

@keyframes myalert{
  0%{
    position:absolute;
    top:-30px;
    left:40%;
  }

  25%{
    position:absolute;
    top:20px;
    left:40%;
    width:30%;
    height:30px;
    border: lightgreen;
  }

  50%{
    position:absolute;
    top:20px;
    left:40%;
    width:35%;
    height:35px;
    border: lightgreen;
  }

  75%{
    position:absolute;
    top:20px;
    left:40%;
    width:30%;
    height:30px;
    border: lightgreen;
  }

  100%{
    position:absolute;
    top:-30px;
    left:40%;
    width:55%;
    height:35px;
  }
}
